@model CameraBazaar.Models.ViewModels.CameraDetailsViewModel

@{
    ViewBag.Title = "Details";
    Layout = "../Shared/CameraDetailsLayout.cshtml";
}
@Layout
<h2>Details</h2>

@Html.Partial("CameraDetailsPartial")

@Html.ActionLink("Back to cameras", "All")

