@model CameraBazaar.Models.ViewModels.CameraDetailsViewModel
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<h3>
    @Html.DisplayNameFor(vm => vm.Make)
    @Html.DisplayNameFor(vm => vm.Model)
    $@Html.DisplayNameFor(vm => vm.Price) -
    if(vm.Quantity > 0){
    <span class="text-danger"> Out of stock</span>
    }
    else {
    <span class="text-success">In stocck</span>
    }
</h3>

<h3>
    @if (Model.Username!= null)
    {
        @Html.ActionLink(@Model.Username, "Profile", "Users")
    }
</h3>

<br />
<dl class="dl-horizontal">
    <dt>
        @Html
    </dt>
</dl>

